.monitor{
    position:fixed; 
    right:-54dvw;
    width: 55dvw;
    bottom: 1em;
    padding: 1em; 
    background: black;
    opacity: 0.2;
    color: dodgerblue; 
    border-left: 5px lime groove;
    transition: .5s;
}
.monitor:hover{
    opacity: 0.9;
    right: 0;
}


#offcanvasWithBothOptions{
    background: url("../assets/img/offCanvas-bg.png")fixed;
    background-size:cover;
}
.offcanvas-body form{
    backdrop-filter: blur(15px);
    border-radius : 10px;
}

#main .sticky-top{
    width: 10em;
    z-index: 2000;
}
#main img{
    max-width: 100%;
}