*{
    font-family: monospace;
}
.darkMode{
    background: black;
    color: white;
}
header, footer{
    border-bottom: lime 1px solid;
    color: tomato;
    margin-bottom: 1em;
}
main{
    width: 80%;
    margin: auto;
    background: #eee;
    color: black;
    min-height: 70vh;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 3em;
}
.frame{
    display: grid;
    place-content: center;
    width: 70%;
    margin: auto;
    padding: 1em;
}
label{
    display: block;
}
.list{
    display: flex; 
    justify-content:space-between; 
    width: 80%; 
    margin: 2em auto;
    color: white;
    gap: 2em;
}
.list>a, .list>p{
    width: 10vmax;
    height: 10vmax;
    color: white;
    padding: 1em;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 2em;
}
footer{
    position: fixed;
    bottom:-3em;
    left: 0;
    width: 100%;
    border-bottom: none;
    border-top: 1px lime solid;
    color: lime;
    text-align: center;
    background: rgba(0,0,0,.8);
    transition: .5s;
}

footer:hover{
    bottom:0;
}